.map {
    width: 100%;
    height: calc(100vh - 2rem);
}

::deep .azure-map-copyright span, ::deep .map-copyright {
    display: none !important;
}

.map-tools {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 5px;
}

.map-tools input {
    margin-right: 5px;
}
