<div>
    <div class="map-tools bg-primary">
        <button class="btn btn-sm btn-secondary" type="button" @onclick="@(() => ChangeMapZoomAsync(true))">
            <img alt="Zoom In" src="images/zoom-in.svg" />
        </button>
        <button class="btn btn-sm btn-secondary" type="button" @onclick="@(() => ChangeMapZoomAsync(false))">
            <img alt="Zoom Out" src="images/zoom-out.svg" />
        </button>
    </div>

    <div class="map" id="@ElementId"></div>
</div>
