@page "/maplibre-test"
@using ChefKnifeStudios.TransitJazz.Client.Shared.Components

<div class="transit-map-container">
    <div class="connection-status connection-status--@_connectionCssClass">
        @_connectionLabel
    </div>
    <MapLibre CameraOptions="DefaultCameraOptions"
        OnMapReady="OnMapReadyAsync"
        OnMapBodyClicked="OnMapBodyClickedAsync"
        OnBusMarkerClicked="OnVehicleMarkerClickedAsync"
    />
</div>
